body {
  font-family: Arial;
  text-align: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: 150px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px gray;
}